{% extends 'base_other.html' %}

{% block content%}
<h1>Detail Page</h1>

{% for details in Survey_Details_List %}
	{% if details.survey_key == surveyquestions.survey_key %}

<h2>Survey Name: {{ details.survey_name }}</a></h2>
<p><b>Conducting Organization:</b> <font color = 'teal'>{{ details.org_conduct }}</font></p>
<p><b>Survey Summary:</b> <font color = 'teal'>{{ details.summary }}</font></p>
<p><b>Number of Participants:</b>  <font color = 'teal'>{{ details.num_participants }}</font></p>
<p><b>Number of Questions:</b>  <font color = 'teal'>{{ details.num_questions | urlize }}</font></p>
<p><font color = 'teal'><a href=" {{ details.data_link }}">Link to Data</a></font></p>
<p><font color = 'teal'><a href=" {{ details.doc_link }}">Link to Documentation</a></font></p>
<p><font color = 'teal'><a href=" {{ details.source_link }}">Link to Source</a></font></p>
    {% endif %}
{% endfor %}
<p><b>Variable Name:</b> <font color = 'teal'>{{ surveyquestions.var_name }}</font></p>
<p><b>Question Text:</b> <font color = 'teal'>{{ surveyquestions.var_text }}</font></p>



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<br>
<br>
<br>
<br>
<form action="../../search">
    <input class = "btn btn-lg btn-secondary" type="submit" action = "{% url 'search:index' %}" value="Return to search page" />
</form>

    {% endblock%}