{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Survey Seasrch</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
  </head>

  <body class="text-center" style = "background-image: url({% static 'img/wordcloud.jpg' %});
background-size: cover">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <!--<div class="inner">
          <h3 class="masthead-brand">Survey Search</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Browse</a>
            <a class="nav-link" href="#">Upload</a>
          </nav>
        </div>-->
          <nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">
      <a class="navbar-brand" href="#">Survey Search</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search:index' %}">Search<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search:browse_surveys' %}">Browse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search:upload' %}">Upload</a>
          </li>

        </ul>

      </div>
    </nav>

      </header>


{% block homepage %}


      <main role="main" class="inner cover" style = "background-color:rgba(0, 0, 0, 0.7);
      border-radius: 10px;
      padding: 20px">
        <h1 class="cover-heading">Find your survey</h1>
        <p class="lead">blah blah blah</p>
        <p class="lead">
		  <form class="form-inline my-2 my-lg-0" id="searchform" action="{% url 'search:results_detail' %}"
				method="get" accept-charset="utf-8">
          <input class="form-control mr-sm-2 searchfield" id=""searchbox
				 name="q" type="text" placeholder="search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 searchbutton" type="submit">Search by Question</button>
		</form>
    <form class="form-inline my-2 my-lg-0" id="searchform" action="{% url 'search:survey_results_detail' %}"
        method="get" accept-charset="utf-8">
          <input class="form-control mr-sm-2 searchfield" id=""searchbox
         name="q1" type="text" placeholder="search"  aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 searchbutton" type="submit">Search by Survey</button>
    </form>

		<div style = "height:20px"></div>
          <a href="{% url 'search:browse_surveys' %}" class="btn btn-lg btn-secondary">Browse</a>
		  <a href="{% url 'search:upload' %}" class="btn btn-lg btn-secondary">Upload</a>
        </p>



      </main>





{% endblock %}
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Powered by <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="#">@Pawsitive</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
