{% extends 'base_other.html' %}

{% block content %}

<h1>Upload a survey</h1>
<p><font color="teal">Please fill in the following form and attach the questions of your survey in .csv format. The two columns in your csv should be "Var_Name" (the question ID, such as "Q1" or "VAR1_NEW") and "Var_Text" (the text of your question). </font></p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}</br>
    <button type="submit" class = "btn btn-primary w-25">Upload</button>
  </form>
</br>

<form action="../search">
    <button type="submit" class = "btn btn-secondary w-25">Return to search page</button>
</form>


{% endblock %}