<h1>Detail Page<h1>

<h2>Survey ID:</h2> <font color = 'teal'>{{ surveyquestions.survey_id }}</font>
{% for details in Survey_Details_List %}
	{% if details.survey_id == surveyquestions.survey_id %}
<h2>Survey Name:</h2> <font color = 'teal'>{{ details.survey_name }}</font>
<h2>Conducting Organization:</h2> <font color = 'teal'>{{ details.org_conduct }}</font>
<h2>Survey Summary:</h2> <font color = 'teal'>{{ details.summary }}</font>
<h2>Number of Participants:</h2> <font color = 'teal'>{{ details.num_participants }}</font>
<h2>Number of Questions:</h2> <font color = 'teal'>{{ details.num_questions | urlize }}</font>
<h2>Survey Documentation:</h2> <font color = 'teal'>{{ details.doc_link | urlize }}</font>
<h2>Survey Source:</h2> <font color = 'teal'>{{ details.source_link | urlize }}</font>
<h2>Survey Link:</h2> <font color = 'teal'>{{ details.data_link | urlize }}</a></font>
    {% endif %}
{% endfor %}
<h2>Question Index No.:</h2> <font color = 'teal'>{{ surveyquestions.row_num }}</font>
<h2>Variable Name:</h2> <font color = 'teal'>{{ surveyquestions.var_name }}</font>
<h2>Question Text:</h2> <font color = 'teal'><b>{{ surveyquestions.var_text }}</b></font>



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<br>
<br>
<br>
<br>
<form action="../../search">
    <input type="submit" value="Return to search page" />
</form>